error.log
__pycache__/DolfinRecord.cpython-38.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
.vscode/settings.json
__pycache__/DolfinDetector.cpython-38.pyc
__pycache__/DolfinExplorer.cpython-38.pyc
__pycache__/DolfinNote.cpython-38.pyc
DolfinDetector.spec
DolfinExplorer.spec
DolfinNote.spec
build/
dist/
20160316_협재영락_미연_JCTSB_land/
__pycache__/
utils/__pycache__/
detect_fin.py.bak
20160316_TEST/
fin_data.js
res.txt
finid_images/